<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<ul>
    <li>
        <a href="/file1">v1 사진업로드하러 가기</a>
    </li>
    <li>
        <a href="/file2">v2 사진업로드하러 가기</a>
    </li>
</ul>
<hr>
<a href="/file1-check">v1 사진보기</a>
<a href="/file2-check">v2 사진보기</a>
</body>